@import "@material/button/mdc-button";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/layout-grid/mdc-layout-grid";

$mdc-theme-primary: purple;
$mdc-theme-secondary: #301e1f;

body {
	font-family: 'Product Sans',Arial,sans-serif;
}
#login-button {

	@include mdc-button-ink-color(white);
	@include mdc-states(brown);
}

.mdc-top-app-bar__title {
	font-family: 'Product Sans',Arial,sans-serif;
	font-size: 22px;
	margin: 5px auto;
	font-weight: bolder;
}

.mdc-top-app-bar {
	@include mdc-top-app-bar-ink-color(#5f6368);
	@include mdc-top-app-bar-fill-color(#fff8ff);
	@include mdc-top-app-bar-icon-ink-color(#5f6368);
	@include mdc-elevation(3);
}

.mdc-layout-grid {

}