@import "./common";
@import "@material/button/mdc-button";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/textfield/mdc-text-field";
@import "@material/card/mdc-card";

@media (min-width: 840px) {
	.mdc-layout-grid__inner {
		justify-content: center;
	}
}

body {
	font-family: 'Product Sans',Arial,sans-serif;
}

#grid {
	//@include mdc-layout-grid(desktop, 30dp);
	//@include mdc-layout-grid(tablet, 24dp);
	//@include mdc-layout-grid(phone, 16dp);
	//align-items: start;
	--mdc-layout-grid-margin-phone: 160dp;
	--mdc-layout-grid-margin-tablet: 240dp;
	--mdc-layout-grid-margin-desktop: 300dp;


	.mdc-layout-grid__inner {
		//
		//--mdc-layout-grid-gutter-phone: 4dp;
		//--mdc-layout-grid-gutter-tablet: 24dp;
		//--mdc-layout-grid-gutter-desktop: 30dp;

		//@include mdc-layout-grid-inner(desktop, 30dp, 24dp);
		//@include mdc-layout-grid-inner(tablet, 24dp, 16dp);
		//@include mdc-layout-grid-inner(phone, 16dp, 12dp);
		.mdc-layout-grid__cell {
			padding: 10px;
	//		@include mdc-layout-grid-cell(desktop, 4, 24dp);
	//		@include mdc-layout-grid-cell(tablet, 4, 16dp);
	//		@include mdc-layout-grid-cell(phone, 2, 12dp);

			//@include mdc-elevation(1);
			.mdc-card {
				margin: 20px;
				padding: 16px;
				@include mdc-card-shape-radius(6dp);
				@include mdc-elevation(3);
				.mdc-typography--body1{
					margin:10px;
				}
			}
		}
	}
}

.mdc-top-app-bar__title {
	font-family: 'Product Sans',Arial,sans-serif;
	font-size: 22px;
	margin: 5px auto;
	font-weight: bolder;
}

.mdc-top-app-bar {
//	@include mdc-top-app-bar-ink-color(on-primary);
	@include mdc-top-app-bar-fill-color-accessible(primary);
	@include mdc-top-app-bar-icon-ink-color(secondary);
	@include mdc-elevation(3);
	.search-bar {
		width: 100%;
		margin: 10px;
		@include mdc-text-field-shape-radius(8dp 4dp);
	}
}

#login-button {

	@include mdc-states(primary);
	@include mdc-elevation(3);
}
