@import "@material/textfield/mdc-text-field";
@import "@material/button/mdc-button";

.username,
.password {
  display:block;
  width: 300px;
  margin:20px auto;
}

.button {
  display: flex;
  justify-content: center ;
  width: 300px;
  margin: auto;
}