@import "./common";
@import "@material/textfield/mdc-text-field";
@import "@material/button/mdc-button";

header {
  text-align: center;  
}

.title {
  color: $mdc-theme-secondary;
  font-weight: bold;
  font-family: Serif;
}
.username,
.password {
  display:block;
  width: 300px;
  margin:20px auto;
}

#login-button {
  display: block;
  justify-content: center;
  width: 400px;
  margin: auto;

  @include mdc-states(primary);
  @include mdc-elevation(3);
}